<html>
    <head>
        
    </head>
    <body>
        <form action="/check" method="POST">
            <h2>Simple Form - takes Source and Destination values.</h2>
            <h1><%= amt %></h1>
            <input type="text" placeholder="Enter source" name="src" style="margin-top: 5px;"/> <br>
            <input type="text" placeholder="Enter destination" name="dest" style="margin-top: 5px;"/> <br>
            <input type="submit" value="Submit" style="margin-top: 5px;" />
        </form>
    </body>
</html>